<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<link rel="stylesheet" href="/app.css">

<h1> Join Us</h1>

<p>Enter your email to join <strong><%=data%></strong>

others on our waitlist. We are 100% not a cult. </p>

                    <!--POST request-->
                    
<form method="POST" action="/register"> 
    
    <input type="text" name="email" class="form" placeholder="Enter Your email">
    <button>Join Now</button>
    
</form>